<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
    <div class="main">
        <nav class="navbar bg-body-tertiary navbar-dark bg-primary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <!-- <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top"> -->
                MEA
              </a>
            </div>
          </nav>
        {% block main %}
        {% endblock %}
    </div>
</body>
</html>